aiocontextvars==0.2.2
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorlog==6.6.0
concurrent-log-handler==0.9.19
contextvars==2.4
cryptography==36.0.1
dataclasses==0.8
elastic-transport==8.0.1
elasticsearch==8.0.1
Flask==2.0.3
idna==3.3
immutables==0.16
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
kafka-python==2.0.2
loguru==0.6.0
MarkupSafe==2.0.1
nb-filelock==0.7
nb-log==7.5
numpy==1.19.5
parameterized==0.8.1
pika==1.2.0
portalocker==2.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pymongo==4.0.2
PyMySQL==1.0.2
python-json-logger==0.1.10
requests==2.27.1
service-identity==21.1.0
six==1.16.0
tomorrow3==1.1.0
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
xlrd==2.0.1
xlwt==1.3.0
zipp==3.6.0
